<div class="wrapper container-fluid">
    <div class="col-md-12">
        <div class="lista container">
            <div class="lista col-4">
                <div cdkDropList class="list col-6" (cdkDropListDropped)="drop($event)">
                    <div class="example mb-2" *ngFor="let tarefas of listaTarefas" cdkDrag>
                        <!-- <div class="container mb-2" style="border: 1px solid gray;" cdkDrag> -->
                        <mat-card class="card mat-elevation-z4" cdkDrag>
                            <mat-card-title-group>
                                <mat-card-title>OS: {{tarefas.os}}</mat-card-title>
                                <mat-card-subtitle>Nome da Tarefa: {{tarefas.nomeTarefa}}
                                    <p>Custo {{tarefas.custo}}</p>
                                    <p>Data limite: {{ tarefas.dataLimite }}</p>
                                </mat-card-subtitle>
                            </mat-card-title-group>
                            <div class="button" style="display: flex; justify-content: right;">
                                <div class="editButton">
                                    <button>
                                    <a class="edit" routerLink="edit/{{ tarefas.os }}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    </button>
                                </div>
                                <div class="deleteButton">
                                    <button>
                                    <a class="delete" routerLink="{{ tarefas.os }}" (click)="delete()">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="button container-fluid">
            <button class="btn btn-success" (click)="fromCreate()">
            Criar nova tarefa
        </button>
        </div>
        <div class="row">

        </div>
    </div>