.wrapper {
    display: flex;
    background: rgb(195, 195, 195);
    background: radial-gradient(circle, rgba(195, 195, 195, 1) 0%, rgba(33, 93, 210, 1) 94%);
}

.lista {
    display: block;
    flex-wrap: wrap;
}

.editButton {
    margin-right: .3rem;
    margin-bottom: .2rem;
}