<div class="container" style="display: flex; padding: .2rem;">
    <div class="col-md-6">
        <div class="title">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <h2>Editando tarefa</h2>
            </h4>
        </div>
        <mat-form-field class=" container campo-criar">
            <div class="row md-12">
                <div class="row-md-12 tarefa">
                    <label for="firstName" class="form-label">OS</label>
                    <input type="text" class="form-control" id="nomeTarefa" [(ngModel)]="tarefas.os" placeholder="{{tarefas.os}}" disabled value="">
                </div>
                <div class="row-md-6 tarefa">
                    <label for="firstName" class="form-label">Nome da tarefa</label>
                    <input type="text" class="form-control" [formControl]="nomeTarefa" id="nomeTarefa" [(ngModel)]="tarefas.nomeTarefa" placeholder=" {{tarefas.nomeTarefa}} " value="" required>
                    <mat-error *ngIf="nomeTarefa.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
                <div class="row-md-6 tarefa ">
                    <label for="firstName " class="form-label ">Custo R$</label>
                    <input type="text" class="form-control" [formControl]="custo" id="custo" [(ngModel)]="tarefas.custo" placeholder="{{tarefas.custo}}" value="" required>
                    <mat-error *ngIf="custo.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
                <div class="row-md-6 tarefa ">
                    <label for="lastName " class="form-label ">Data limite</label>
                    <input type="text" class="form-control" [formControl]="dataLimite" name="custo" [(ngModel)]="tarefas.dataLimite" id="datalimite" placeholder="{{tarefas.dataLimite}}" value="" required>
                    <mat-error *ngIf="dataLimite.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
                <div class="row-md-8">
                </div>
                <div class="row-md-6 tarefa ">
                    <label for="username " class="form-label ">Ordem Apresentação</label>
                    <div class="input-group has-validation ">
                        <input type="text" class="form-control" id="username" [(ngModel)]="tarefas.ordemApresentacao" placeholder=" {{tarefas.ordemApresentacao}}" disabled required>
                    </div>
                </div>
            </div>
        </mat-form-field>
        <div class="button ">
            <div>
                <button (click)="update()" [disabled]="getMessage()" type="button" id="criar " class="btn btn-success ">
                    <span class="criar">Editar<i class="material-icons">create</i></span>
                </button>
            </div>
            <div>
                <button (click)="cancel()" type="button" id="criar" class="btn btn-secondary ">
                    <span>Cancelar<i class="material-icons ">cancel</i></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-4 " style="justify-content: end; ">
        <div>
            dasd
        </div>
    </div>
</div>