<div class="container" style="display: flex; padding: .2rem;">
    <div class="col-md-6">
        <div class="title">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <h2>Criando tarefa</h2>
            </h4>
        </div>
        <mat-form-field class="container campo-criar">
            <div class="row g-12">
                <div class="row-4">
                    <label for="firstName" class="form-label">Nome da tarefa</label>
                    <input type="text" [formControl]="nomeTarefa" class="form-control" [(ngModel)]="tarefas.nomeTarefa" id="nomeTarefa" placeholder="Nome da tarefa" value="" required>
                    <mat-error *ngIf="nomeTarefa.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
                <div class="row-4">
                    <label for="lastName" class="form-label">Custo R$</label>
                    <input type="text" [formControl]="custo" class="form-control" [(ngModel)]="tarefas.custo" name="custo" id="lastName" placeholder="" value="" required>
                    <mat-error *ngIf="custo.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
                <div class="row-4">
                    <label for="username" class="form-label">Data limite</label>
                    <input type="text" [formControl]="dataLimite" class="form-control" [(ngModel)]="tarefas.dataLimite" id="username" placeholder="" required>
                    <mat-error *ngIf="dataLimite.invalid">
                        {{ getMessage() }}
                    </mat-error>
                </div>
            </div>
        </mat-form-field>
        <div class="button">
            <div>
                <button type="button" (click)="fromCreate()" [disabled]="getMessage()" id="criar" class="btn btn-success">
                    <span class="criar">Criar<i class="material-icons">add_circle_outline</i></span>
                </button>
            </div>
            <div>
                <button type="button" (click)="cancel()" id="criar" class="btn btn-secondary">
                    <span>Cancelar<i class="material-icons">cancel</i></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-4" style="justify-content: end;">
        <div>
            dasd
        </div>
    </div>
</div>